extends ../base 

block content 
    form(method="POST")
        if errorMessage 
            span=errorMessage
        input(placeholder="Old password",type="password",name="oldPassword")
        input(placeholder="New password",type="password",name="newPassword")
        input(placeholder="New password Confirmaion",type="password",name="newPasswordConfirmation")
        input(type="submit", value="Change password")